@import "tailwindcss";

:root {
  --background: #d6cdc2;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-apple-garamond);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page-overlay::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/background.avif');
  background-repeat: repeat;
  opacity: 0.8; /* adjust transparency */
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 100;
}